<div class="modal animate__animated animate__fadeInDown" style="display:block" id="mess" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="display:flex; justify-content:center">
        <div class="modal-content" style="width:30vw">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        id="close_modal_mess"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="text-align:center">@ViewBag.message</p>
            </div>
        </div>
    </div>
</div>
<script>
    $("#mess").on('click', function () {
        $("#mess").css({ "display": "none" });
    });
    $("#close_modal_mess").on('click', function () {
        $("#mess").css({ "display": "none" });
    });
</script>